<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Ladderman</string>
	<key>Author</key>
	<string>JakAttak</string>
	<key>Description</key>
	<string>Race up the ladders! Beat the clock!</string>
	<key>LongDescription</key>
	<string>Climb up the ladders. Be sure to avoid the gaps lest you fall to an untimely death!</string>
	<key>Version</key>
	<string>1.2</string>
	<key>Hidden</key>
	<false/>
	<key>Library</key>
	<false/>
	<key>Icon</key>
	<string>Icon@2x.png</string>
	<key>Link</key>
	<string>https://codea.io/talk/discussion/5355/ladder-man</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Playing</string>
		<string>Lost</string>
		<string>Variables</string>
		<string>ImagesToLoad</string>
		<string>Loader</string>
	</array>
	<key>Created</key>
	<string>2019-03-26 06:07:13 +0000</string>
</dict>
</plist>
