<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>explodeyCraft</string>
	<key>Author</key>
	<string>dave1707 and UberGoober</string>
	<key>Description</key>
	<string>Easily explode any Craft model</string>
	<key>LongDescription</key>
	<string>A single function that takes any craft model and returns it with two new functions attached, one for exploding the model and one for reversing an explosion. Might cause slowdown with especially complex models. REQUIRES: Craft Cameras Example</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Library</key>
	<true/>
	<key>Executable</key>
	<true/>
	<key>Hidden</key>
	<false/>
	<key>Link</key>
	<string>https://codea.io/talk/discussion/11803/explodeycraft-tool-for-exploding-any-craft-model</string>
	<key>Icon</key>
	<string>Icon@2x.png</string>
	<key>Buffer Order</key>
	<array>
		<string>_dep_Craft:Touches</string>
		<string>_dep_Craft:Cameras</string>
		<string>Main</string>
		<string>explodeyCraft</string>
	</array>
	</dict>
</plist>
