<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>_dep_Documents:Oil</string>
		<string>_dep_Documents:Zip</string>
		<string>_dep_Documents:Packager</string>
		<string>Main</string>
		<string>DB</string>
		<string>Themes</string>
		<string>UI</string>
		<string>TabRow</string>
		<string>News</string>
		<string>AppList</string>
		<string>AppWindow</string>
		<string>SubmitWindow</string>
		<string>ReviewWindow</string>
		<string>SettingsWindow</string>
		<string>Submission</string>
		<string>VFS</string>
		<string>Path</string>
		<string>AsyncCoordinator</string>
	</array>
</dict>
</plist>
