<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Texture Packer</string>
	<key>Author</key>
	<string>Steppers</string>
	<key>Description</key>
	<string>Spritemap Generator</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Hidden</key>
	<false/>
	<key>Library</key>
	<false/>
	<key>Icon</key>
	<string>Icon@2x.png</string>
	<key>Buffer Order</key>
	<array>
		<string>Rectangle</string>
		<string>Gestures</string>
		<string>Main</string>
		<string>PackedTexture</string>
		<string>Array</string>
	</array>
</dict>
</plist>
