<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steppers</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>WebRepo</string>
		<string>GithubAPI</string>
		<string>URL</string>
		<string>Browser</string>
		<string>ProjectPanel</string>
		<string>Button</string>
		<string>SearchBar</string>
		<string>APIOverrides</string>
		<string>GlobalOverrides</string>
		<string>Gestures</string>
		<string>supportedOrientations</string>
		<string>PList</string>
		<string>github_oauth</string>
		<string>fzy</string>
	</array>
	<key>Description</key>
	<string>Access to Codea Community Repository</string>
	<key>Hidden</key>
	<true/>
	<key>Icon</key>
	<string>Icon@2x.png</string>
	<key>Library</key>
	<false/>
	<key>Name</key>
	<string>WebRepo</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
