<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Foggy</string>
	<key>Author</key>
	<string>West ft. UberGoober</string>
	<key>Description</key>
	<string>Basic Side Scroller</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Hidden</key>
	</false>
	<key>Library</key>
	</false>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Buffer Order</key>
	<array>
		<string>Background</string>
		<string>BackgroundObject</string>
		<string>Bee</string>
		<string>Bonus</string>
		<string>Bullet</string>
		<string>Enemy</string>
		<string>Explosion</string>
		<string>Main</string>
		<string>Particle</string>
	</array>
</dict>
</plist>
