<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Background</string>
		<string>BackgroundObject</string>
		<string>Bee</string>
		<string>Bonus</string>
		<string>Bullet</string>
		<string>Enemy</string>
		<string>Explosion</string>
		<string>Main</string>
		<string>Particle</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
	<key>Icon</key>
	<string>Icon.png</string>
</dict>
</plist>
