<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>OIL</string>
		<string>OILInput</string>
		<string>Prefabs</string>
		<string>StyleSheets</string>
		<string>Node</string>
		<string>Renderer</string>
		<string>Style</string>
		<string>RectRenderer</string>
		<string>Blur</string>
	</array>
</dict>
</plist>
