<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Soft Shadows</string>
	<key>Author</key>
	<string>Steppers</string>
	<key>Description</key>
	<string>Soft Shadows Demo</string>
	<key>LongDescription</key>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare metus sed commodo interdum. Integer euismod sed ante id pellentesque. Donec sit amet tincidunt nunc. Nulla facilisi. Suspendisse gravida risus vel eros aliquet, at mollis ligula bibendum. Ut id tincidunt turpis, ut bibendum leo. Fusce a metus rutrum, placerat diam sit amet, imperdiet enim. Aenean finibus varius blandit. Proin lacinia lorem vehicula mi rhoncus, iaculis vestibulum justo aliquam. Aenean varius, dolor ac sagittis pulvinar, tellus dui tristique mi, vitae dignissim nunc turpis eu mi.

Mauris sit amet risus ut libero laoreet rhoncus. Suspendisse justo nibh, scelerisque vitae iaculis eu, aliquet et nisl. Donec venenatis sodales tincidunt. Aenean at velit justo. Nunc ut euismod justo. Proin auctor scelerisque pretium. Vivamus sed sagittis velit, id efficitur diam. Aenean eu velit ultrices lectus rhoncus sagittis.

Duis nec finibus nisi. Aenean id fringilla ipsum, vitae lacinia neque. Vestibulum molestie risus sem. Donec ut sem commodo, gravida tortor sed, ultrices nibh. Donec tristique mollis neque at malesuada. Proin luctus vestibulum augue quis aliquam. Quisque sed lacinia lorem. Donec ac euismod metus, ut viverra magna. Maecenas eu orci ut ligula luctus pretium eu nec nunc.

In lectus urna, tempor sed quam in, congue porttitor dui. Vestibulum iaculis et augue eget lobortis. Suspendisse ac viverra lacus, ac euismod quam. Duis sit amet tincidunt nulla, vitae vehicula arcu. Nam sodales mi elit, eu luctus lorem vestibulum quis. Cras sem neque, convallis ut leo id, facilisis ornare nisi. Phasellus accumsan tellus nec laoreet tincidunt. Aliquam aliquam dictum nisi, sed placerat tellus consectetur in. Nunc dapibus imperdiet risus, ac finibus erat tempor eu. Sed egestas in tellus quis sagittis. Vestibulum laoreet porta lectus eu auctor. Suspendisse malesuada at dui vel bibendum. In mollis pulvinar libero, et lacinia diam faucibus non. Nullam vel sapien fermentum, volutpat odio ut, pretium felis. Ut consequat, dui eu finibus tempus, dolor augue feugiat odio, in fermentum mi diam nec est.

Ut consectetur mi nec risus mollis ullamcorper. Donec faucibus, elit in dapibus euismod, risus nulla sagittis risus, sed interdum ipsum sem quis dui. Etiam faucibus nulla sem, ac iaculis neque euismod et. Donec tincidunt ex sit amet augue lacinia, a elementum est varius. Nulla venenatis auctor nisi, sit amet lobortis libero malesuada sit amet. Suspendisse molestie fermentum interdum. Pellentesque pharetra dolor sit amet risus luctus, id fermentum eros dapibus. Maecenas vehicula, nulla vitae faucibus egestas, lacus ante hendrerit sapien, quis efficitur lorem mauris quis tellus. Quisque ut sollicitudin nibh, eu accumsan nibh. Aliquam quis ornare mauris. Fusce ac sollicitudin ante. Morbi posuere tortor non tellus sodales, eu viverra risus efficitur. Curabitur sit amet luctus sem. Etiam nec sapien nec dui cursus malesuada.</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Hidden</key>
	<false/>
	<key>Library</key>
	<false/>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Link</key>
	<string>https://codea.io/talk/discussion/11746/soft-shadows-meshes-and-framebuffers</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Shaders</string>
		<string>Plane</string>
		<string>Cube</string>
		<string>Transform</string>
	</array>
</dict>
</plist>
