<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Soft Shadows</string>
	<key>Author</key>
	<string>Steppers</string>
	<key>Description</key>
	<string>Soft Shadows Demo</string>
	<key>LongDescription</key>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel mi in lorem sollicitudin fringilla nec id risus. Curabitur suscipit mollis lorem sit amet imperdiet. Fusce nec arcu at purus vestibulum vestibulum. Sed egestas eros vitae erat vehicula, at aliquam quam gravida. Nunc ut dolor orci. Maecenas convallis quam nunc, et cursus diam pulvinar interdum. Donec malesuada vitae nisl at scelerisque.

Sed mauris tellus, fringilla ut purus quis, scelerisque pharetra libero. Mauris pulvinar pretium libero, nec varius lacus pulvinar at. Phasellus at est ac metus feugiat condimentum. Integer rutrum leo enim. Nulla mattis varius pulvinar. Etiam sollicitudin ex non interdum tincidunt. Quisque massa mauris, ullamcorper id commodo in, molestie a nibh. Integer nec risus id elit dignissim eleifend. Fusce eleifend elementum tellus a placerat.</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Hidden</key>
	<false/>
	<key>Library</key>
	<false/>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Link</key>
	<string>https://codea.io/talk/discussion/11746/soft-shadows-meshes-and-framebuffers</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Shaders</string>
		<string>Plane</string>
		<string>Cube</string>
		<string>Transform</string>
	</array>
</dict>
</plist>
