<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Mirror Draw</string>
	<key>Author</key>
	<string>JakAttak</string>
	<key>Description</key>
	<string>Make beautiful patterns with ease!</string>
	<key>LongDescription</key>
	<string>NOTE: This only works well on iPhone in my experience.</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Platform</key>
	<string>iphone</string>
	<key>Hidden</key>
	<false/>
	<key>Link</key>
	<string>https://codea.io/talk/</string>
	<key>Icon</key>
	<string>Icon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>ColorPicker</string>
		<string>Slider</string>
		<string>Buttons</string>
	</array>
</dict>
</plist>
