<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steppers</string>
	<key>Date</key>
	<string>06-May-2021</string>
	<key>Description</key>
	<string>Load &amp; run Codea projects from the internet!</string>
	<key>Version</key>
	<real>1</real>
</dict>
</plist>
