<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>WebRepo</string>
		<string>GithubAPI</string>
		<string>URL</string>
		<string>Browser</string>
		<string>ProjectListing</string>
		<string>SearchBar</string>
		<string>APIOverrides</string>
		<string>Gestures</string>
		<string>PList</string>
		<string>inflate</string>
		<string>github_oauth</string>
		<string>zzlib</string>
	</array>
</dict>
</plist>
