<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>WebRepo</string>
		<string>PList</string>
		<string>Browser</string>
		<string>github_oauth</string>
		<string>zzlib</string>
		<string>inflate</string>
	</array>
</dict>
</plist>
