<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Plane Crazy</string>
	<key>Author</key>
	<string>Mark</string>
	<key>Description</key>
	<string>To fly or not to fly</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Hidden</key>
	<false/>
	<key>Library</key>
	<false/>
	<key>Icon</key>
	<string>Icon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
</dict>
</plist>
