<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Steppers ft. UberGoober</string>
	<key>Buffer Order</key>
	<array>
		<string>GlobalOverrides</string>
		<string>supportedOrientations</string>
		<string>Main</string>
	</array>
	<key>Description</key>
	<string>Implementation of the old API</string>
	<key>LongDescription</key>
	<string>An implementation of the old Codea API allowing projects to lock the device in a specific orientation. All you need to do is add this project as a dependency of your own project, et voila! supportedOrientations is available once again.</string>
	<key>Executable</key>
	<true/>
	<key>Hidden</key>
	<false/>
	<key>Icon</key>
	<string>Icon@2x.png</string>
	<key>Library</key>
	<true/>
	<key>Link</key>
	<string></string>
	<key>Name</key>
	<string>supportedOrientations</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
